extends layout

block conteudo
    
    h2 Biografia
        h3 Anastácia Menezes, sul-mato-grossense, brasileira, criativa, trabalha, estuda, recicla. Atualmente, concentra todos os esforços em aprender e vencer os desafios da tecnologia e a lógica da vida. Objetivo: criar um software útil para a humanidade. Fazer a diferença! 
