extends layout
   
block conteudo
    h2 History of my life.
    ul
        li
            img(src="img/portfolio4.jpg", alt="Familia", width="300" height="200")
            p My Family
        li
            img(src="img/portfolio2.jpg", alt="IFMS: Fazer a diferença!", width="300" height="200")
            p Estudar no IFMS: a diferença!
        li    
            img(src="img/portfolio3.jpg", alt="Pescaria", width="300" height="200")
            p Hobby: Pescaria
        li    
            img(src="img/portfolio1.jpg", alt="Aventura", width="300" height="200")
            p Momento Relax: Aventura    
        
                    
        
        
        



